@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: oklch(0.985 0.001 106.423);
	--color-gray-100: oklch(0.97 0.001 106.424);
	--color-gray-200: oklch(0.923 0.003 48.717);
	--color-gray-300: oklch(0.869 0.005 56.366);
	--color-gray-400: oklch(0.709 0.01 56.259);
	--color-gray-500: oklch(0.553 0.013 58.071);
	--color-gray-600: oklch(0.444 0.011 73.639);
	--color-gray-700: oklch(0.374 0.01 67.558);
	--color-gray-800: oklch(0.268 0.007 34.298);
	--color-gray-900: oklch(0.216 0.006 56.043);
	--color-gray-950: oklch(0.147 0.004 49.25);

	--color-ellis-green-50: oklch(0.979 0.021 166.113);
	--color-ellis-green-100: oklch(0.95 0.052 163.051);
	--color-ellis-green-200: oklch(0.905 0.093 164.15);
	--color-ellis-green-300: oklch(0.845 0.143 164.978);
	--color-ellis-green-400: oklch(0.765 0.177 163.223);
	--color-ellis-green-500: oklch(0.696 0.17 162.48);
	--color-ellis-green-600: oklch(0.596 0.145 163.225);
	--color-ellis-green-700: oklch(0.508 0.118 165.612);
	--color-ellis-green-800: oklch(0.432 0.095 166.913);
	--color-ellis-green-900: oklch(0.378 0.077 168.94);
	--color-ellis-green-950: oklch(0.262 0.051 172.552);

	--font-sans: "Inter", sans-serif;
	--font-serif: "Instrument Serif", serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
